MONGO_URI=mongodb+srv://yelagadanitish_db_user:Kranthi08@cluster0.nyiplmw.mongodb.net/aicodereviewer?retryWrites=true&w=majority
JWT_SECRET=supersecretkey123
GROQ_API_KEY=Your_Groq_API_Key_Here

# Google OAuth (get from https://console.cloud.google.com)
REACT_APP_GOOGLE_CLIENT_ID=1041633394834-2quj1e8asfqjcj1jvt1v1v4q2r0p0q2r.apps.googleusercontent.com

# GitHub OAuth (get from https://github.com/settings/developers)
GITHUB_CLIENT_ID=Ov23lioVmU4dnghXpdEK
GITHUB_CLIENT_SECRET=c67e935a58383a7edf22f23e11e844f52961bbb2

# Email Configuration (Gmail - use App Password, not regular password)
# Get App Password here: https://myaccount.google.com/apppasswords
# Make sure 2FA is enabled on your Gmail account first!
EMAIL_USER=nikilnitish134@gmail.com
EMAIL_PASSWORD=unuq cyla xvol yapy




